@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* -------------------------- CONSTANTS & VARIABLES ------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  list-style-type: none;
}

body {
  background-color: rgb(31, 39, 51);
  overflow: hidden;
}

.truncated {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* ------------------------------- SCROLL BAR ------------------------------- */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(84, 227, 158);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(220, 249, 235);
}

/* --------------------------------- NAV BAR -------------------------------- */
header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: rgb(46, 57, 77);
  color: rgb(220, 249, 235);
  width: 100vw;
  height: 70px;
  transform: translateY(-70px);
}
header::after {
  content: "";
  position: absolute;
  float: left;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  height: 2px;
  width: 0%;
  background-color: rgb(84, 227, 158);
  border-radius: 50px;
  box-shadow: 0 0 20px rgb(86, 227, 159);
  -webkit-animation: header-after 1s cubic-bezier(0, 0, 0.47, 1.07) forwards;
          animation: header-after 1s cubic-bezier(0, 0, 0.47, 1.07) forwards;
}

.weather-api {
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: rgba(84, 227, 158, 0.1);
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 0.8rem;
}
.weather-api p {
  letter-spacing: 1px;
  text-align: center;
}
.weather-api .weather-api-gap {
  background-color: rgb(220, 249, 235);
  width: 2px;
  opacity: 0.5;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 2px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}
.header-nav a {
  color: rgb(220, 249, 235);
  text-decoration: none;
}

@-webkit-keyframes header-after {
  100% {
    width: 100%;
  }
}

@keyframes header-after {
  100% {
    width: 100%;
  }
}
/* ------------------------------ MAIN / CARDS ------------------------------ */
.main {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  gap: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-size: 100%;
  background-position: 0% 0%;
  border: 2px solid rgb(84, 227, 158);
  width: 33%;
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(86, 227, 159, 0.5);
  border-radius: 7px;
  opacity: 0;
  transform: translateY(-25px);
}

.card:nth-child(1) {
  background: radial-gradient(circle at bottom right, rgb(46, 57, 77) 0%, rgba(86, 227, 159, 0.3) 100%);
  background-size: 200% 100%;
  background-position: 50% 0%;
}

.card:nth-child(2) {
  background: radial-gradient(at bottom, rgb(46, 57, 77) 15%, rgba(86, 227, 159, 0.3) 100%);
  background-size: 400% 100%;
  background-position: 50% 0%;
  transform: scale(1.05);
  padding: 30px 30px;
}
.card:nth-child(2) .card-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.card:nth-child(3) {
  background: radial-gradient(circle at bottom left, rgb(46, 57, 77) 0%, rgba(86, 227, 159, 0.3) 100%);
  background-size: 200% 100%;
  background-position: 50% 0%;
}

.card-title {
  display: grid;
  place-items: center;
  height: 100px;
  font-size: 3rem;
  text-align: center;
  color: rgb(220, 249, 235);
  opacity: 0.8;
  font-weight: 100;
  letter-spacing: 2px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

/* ------------------------------ CARD CONTENT ------------------------------ */
.card-content-container {
  padding: 15px 30px;
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: scroll;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.card-content-container a {
  text-decoration: none;
}

.card-content {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  height: 75px;
  width: 100%;
  background: rgba(86, 227, 159, 0.2);
  border-radius: 7px;
  margin: 20px 0;
  opacity: 0;
  transform: scale(0.5);
}

/* ----------------------------- HIGHLIGHTS CARD ---------------------------- */
.card-content img {
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.highlight-video-information {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: rgb(206, 206, 206);
  width: 90%;
}
.highlight-video-information h3 {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.highlight-video-information p {
  letter-spacing: 1px;
  font-size: 0.75rem;
  opacity: 0.75;
}

/* ------------------------------ RECENT GAMES ------------------------------ */
#recent-games-container .card-content {
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  color: rgb(220, 249, 235);
}
#recent-games-container .card-content .recent-games-flag {
  position: relative;
  height: 100%;
  aspect-ratio: 16/9;
  transition: all 0.35s;
}
#recent-games-container .card-content .recent-games-flag::after {
  content: attr(data-country);
  letter-spacing: 1px;
  position: absolute;
  padding: 0 10px;
  border-radius: 5px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 1rem;
  color: rgb(220, 249, 235);
  background-color: rgba(31, 39, 51, 0.6);
  opacity: 0;
  transition: all 0.35s;
  white-space: nowrap;
}
#recent-games-container .card-content .recent-games-flag:hover {
  transform: translateY(-15px);
}
#recent-games-container .card-content .recent-games-flag:hover::after {
  transform: translate(-50%, 125%);
  opacity: 1;
}
#recent-games-container .card-content .recent-games-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
#recent-games-container .card-content .coming-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------------------ TEAMS SECTION ----------------------------- */
.group-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.group-divider .horizontal-line {
  position: relative;
  width: 25%;
  height: 2px;
  background-color: rgb(220, 249, 235);
  opacity: 0.5;
}
.group-divider p {
  color: rgb(220, 249, 235);
  font-size: 2rem;
  letter-spacing: 2px;
}

.team-information {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}
.team-information .property {
  color: rgb(220, 249, 235);
  width: 70%;
  display: inline-block;
  text-align: right;
  letter-spacing: 1px;
}
.team-information .value {
  color: rgb(220, 249, 235);
  width: 30%;
  display: inline-block;
  text-align: left;
  transform: translateX(10px);
  letter-spacing: 1px;
}

/* ---------------------------- LOAD MORE BUTTON ---------------------------- */
.load-more-button-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  gap: 30px;
  width: 100%;
}
.load-more-button-container::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgba(86, 227, 159, 0.2);
  border-radius: 10px;
}
.load-more-button-container::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgba(86, 227, 159, 0.2);
  border-radius: 10px;
}
.load-more-button-container .loading-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load-more-button-container .loading-img-container img {
  visibility: hidden;
  filter: invert(98%) sepia(60%) saturate(260%) hue-rotate(69deg) brightness(101%) contrast(95%);
  -webkit-animation: looping-rotation 1.5s linear infinite;
          animation: looping-rotation 1.5s linear infinite;
  opacity: 0.75;
}
.load-more-button-container .load-more-button {
  visibility: visible;
  padding: 5px 15px;
  color: rgb(220, 249, 235);
  background-color: rgba(86, 227, 159, 0.2);
  border: none;
  border-radius: 100px;
  white-space: nowrap;
  letter-spacing: 1px;
}
.load-more-button-container .load-more-button:hover {
  background-color: rgba(86, 227, 159, 0.452);
}

.loading .loading-img-container img {
  visibility: visible;
}
.loading .load-more-button {
  visibility: hidden;
}

@-webkit-keyframes looping-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes looping-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ---------------------------- RESPONSIVE DESIGN --------------------------- */
@media screen and (max-width: 1900px) {
  body {
    overflow-y: visible;
  }
  .card {
    background: radial-gradient(at bottom, rgb(46, 57, 77) 15%, rgba(86, 227, 159, 0.3) 100%);
    height: 30%;
    width: 75%;
  }
  .main {
    height: 300vh;
    flex-direction: column;
  }
}
@media screen and (max-width: 1300px) {
  header {
    z-index: 1;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    height: 115px;
  }
  h1 {
    left: 15%;
  }
  .header-nav {
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 950px) {
  header {
    height: 150px;
  }
  h1 {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .highlights-content a .card-content, #teams-container .card-content {
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
  }
  .highlights-content a .card-content img, #teams-container .card-content img {
    max-width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */